<h6><%=name%></h6>
<h3>What amount of change would you like to convert?</h3>
<form method="post" action="changer">
	<input type="number" name="coinamount" required>
	<input type="submit" name="submit">
</form>